<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="da">
<link rel="stylesheet" type="text/css" href="../static/css/navigationBarStyles.css" th:href="@{css/navigationBarStyles.css}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="nav_container">
  <div class="nav_logo">
    <a th:href="@{/}">
      <img th:src="@{images/SppisOpLogo.png}" src="../../static/images/SppisOpLogo.png" alt="Could not render logo">
    </a>
  </div>
  <div class="madspild nav_links"><a th:href="@{/madspild-i-danmark}">Madspild I Danmark</a></div>
  <div class="råd nav_links "><a>Gode Råd</a></div>
  <div class="anbefalinger nav_links "><a>Anbefalinger</a></div>
  <div class="inspireret nav_links "><a>Bliv Inspireret</a></div>
</div>
</body>
</html>