<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org/" lang="da">
<link rel="Stylesheet" type="text/css" href="../Static/CSS/FooterStyle.css" th:href="@{CSS/FooterStyle.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>

    <div class="footerContent">
      <div class="toTop">Til toppen</div>
      <div class="about">Om Os</div>
      <div class="contact">Kontakt</div>
      <div class="subscribe">Tilmeld</div>
    </div>

    <div class="footerInfo">
        <p>Guldbergsgade 29N, 2200 København N</p>
        <p>Tlf: +45 4646 0000</p>
        <p>Email: spisop@dmm.dk</p>
    </div>

</footer>
</body>
</html>
